<section id="contact">
    
    <div class="BGContact">
    
        <div class="TitleContainerAbout">

                <hr class="BarLeft">

                <h3>Contact</h3>

                <hr class="BarRight">

        </div>

        <div class="ContactInfo">
            
            <div class="ContactIcons">
                <div class="TeleIcon"><a class="TeleIc" href="tel:+491635111003">+49 (0)163 / 5111003</a></div>
                
                <div class="InstagramIcon"><a href="https://www.instagram.com/thestoryograph/">{% include icons/icon-instagram.html%}</a></div>
                <div class="FacebookIcon"><a href="https://www.facebook.com/TheStoryograph/">{% include icons/icon-facebook.html%}</a></div>
            </div>

            <hr class="MiddleRuler">

            <p class="eMailAddr"><a href="mailto:Nils-Peter@The-Storyograph.com" style= "color: black; text-decoration:none;">Nils-Peter@The-Storyograph.com</a></p>

        </div>
        
    </div>

                
        <p><strong> Lass uns gemeinsam etwas einzigartiges erschaffen! </strong></p>

        <form action="https://formspree.io/Nils-Peter@The-Storyograph.com" method="POST">
            
            <div class="InfoGroup">
                
                <label>
                    <span>Name</span>
                    <input type="text" name="name">
                </label>

                <label>
                    <span>eMail</span>
                    <input type="email" name="_replyto">
                </label>
                
            </div>
            
            <label>
                <span>Erzähl mir, welchen Moment ich festhalten darf.</span>    
                <textarea name="Message"></textarea>
            </label>
            
            <div class="SendButton">
                <input type="submit" value="Send">
            </div>
            
        </form>
            

        <div class="EndIMG">

                <p class="End1">The light - The moment - The shot</p>
            
                <div class="endLogo-wrap" >
                    <img src="/Website/assets/img/LogoWeb.png">
                </div>

                <p class="End2">www.The-Storyograph.com</p>


        </div>

        
    



</section>