<section id="contact">
    
    <div class="BGContact">
    
        <div class="TitleContainerAbout">

                <hr class="BarLeft">

                <h3>Contact</h3>

                <hr class="BarRight">

        </div>

        <div class="ContactInfo">
            <div class="ContactIcons">

            </div>

            <hr class="MiddleRuler">

            <p class="eMailAddr">Nils-Peter@The-Storyograph.com</p>

        </div>

        <div class="contactForm">
            <p> Lass uns gemeinsam etwas einzigartiges erschaffen!</p>

            <div class="Form">

            </div>
            
        </div>
        
        <div class="EndIMG">

                <p class="End1"><strong>The light - The moment - the shot</strong></p>

                <img class="endLogo" src="/assets/img/LogoWeb.png">

                <p class="End2"><strong>www.The-Storyograph.com</strong></p>


        </div>

        
    </div>



</section>