<section id="pricing" class="pricing">

<div class="Pricingwrapper">

    <div class="BGWrapper">
        
        <div class="TopBG">
            
        </div>
        
        <div class="ImgBG">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Wed_img-1.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Wed_img-2.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Wed_img-3.jpg">
            
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Por_img-1.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Por_img-1.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Por_img-3.jpg">
                        
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Tra_img-1.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Tra_img-2.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Tra_img-3.jpg">
            
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Evt_img-1.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Evt_img-2.jpg">
            <img class="Slides" src="/Website/assets/img/slideshow_pricing/Evt_img-3.jpg">

        </div>

        <div class="BottomBG">
            
        </div>
        
    </div>
    
    <div class="ContentWrapper">
        
        <div class="TopContentWrapper">
        
            <div class="TitleContainerAbout">

                <hr class="BarLeft">

                <h3>Pricing</h3>

                <hr class="BarRight">

            </div>
            
            <div class="TextCont">
                <p>Egal ob Hochzeit, Portrait oder Reise- & Landschaftsdokumentation, bevor wir mit den Aufnahmen beginnen, bespreche ich mit euch eure Vorstellungen und Möglichkeiten in einem persönlichen Gespräch. Hierbei ist es mir wichtig euch kennenzulernen und herrauszufinden, wie ich am besten eure Vorstellungen in die Tat umsetzten darf.<br /><br />
                Wenn ihr Fragen zu meinem Angebot und Leistungen habt, zögert nicht mich zu <a href="#contact" style= "color: black; text-decoration:none;"><strong>kontaktieren</strong></a>!
                </p>                
            </div>
            
            <div class="NavCont">
            
                <div class="Selector" data-folder="wedding"><strong><p>-Wedding-</p></strong><hr class="selected"></div>
                <div class="Selector" data-folder="portrait"><strong><p>-Portrait-</p></strong><hr class="selected"></div>
                <div class="Selector" data-folder="travel"><strong><p>-Travel-</p></strong><hr class="selected"></div>
                <div class="Selector" data-folder="event"><strong><p>-Event-</p></strong><hr class="selected"></div>
                
            </div>
            
        </div>
        
        <div class="BottomContentWrapper">
        
                
            <div class="LeftArrBox">
                {%include icons/icon-prev.html%}
            </div>

            <div class="InfoTextBox">
                
            </div>

            <div class="RightArrBox">
                {%include icons/icon-next.html%}
            </div>

            
        </div>
        

    </div>
    
</div>


</section>