<section id="print" class="PrintSection">

    <div class="BGPrint">
        
        <div class="TitleContainerAbout">

                <hr class="BarLeft">

                <h3>Print</h3>

                <hr class="BarRight">

        </div>
        
        <div class="TextPrintCont">
            
            <p class="AboutPrint">Jeder besondere Moment, der eingefangen wurde, hat es verdient besonders präsentiert zu werden. Dafür arbeite ich seit mehreren Jahren erfolgreich mit verschiedenen Fotodruckereien zusammen, die eine Vielzahl von unterschiedlichen Printmedien zur Auswahl bieten.
            <br /><br />Gerne berate ich euch auch bei der Wahl des richtigen Printmediums!</p>
            
        </div>
        
        <div class="PrintCont">
                    
            <div class="LeftPrintCont">
                <div class="PrintContLeft">
                    
                    <div class="PrintMedLeft" style="background: url(/Website/assets/img/Poster.png)">
                        
                        <div class="overlay">

                            <strong>Posterdruck</strong>

                            

                        </div>
                    
                    </div>
                    
                </div>
                
                <div class="PrintContLeftMid">
                    
                    <div class="PrintMedLeft" style="background: url(/Website/assets/img/Leinwand.png)">
                    
                            <div class="overlay">

                                <strong>Leinwand</strong>

                                

                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="PrintContLeft">
                    
                     <div class="PrintMedLeft" style="background: url(/Website/assets/img/Forex.png)">
                         
                            <div class="overlay">

                                <strong>Forex Fineart</strong>

                                
                                
                            </div>
                         
                    </div>
                    
                </div>
                
            </div>

            <div class="RightPrintCont">
                
                <div class="PrintContRight">
                    <div class="PrintMedRight" style="background: url(/Website/assets/img/Acryl.png)">
                        
                        <div class="overlay">

                            <strong>Acrylglas Finart</strong>



                        </div>
                    
                    </div>
                </div>
                
                <div class="PrintContRightMid">
                    <div class="PrintMedRight" style="background: url(/Website/assets/img/Alu.png)">
                    
                        <div class="overlay">

                            <strong>Alu-Dibond</strong>

   

                        </div>                        
                        
                    </div>
                </div>
                
                <div class="PrintContRight">
                    <div class="PrintMedRight" style="background: url(/Website/assets/img/AluAcryl.png)">
                    
                        <div class="overlay">

                            <strong class="AcrylAluDibond">Acrylglas auf Alu-Dibond</strong>

                        </div>                        
                        
                    </div>
                </div>
                
            </div>
                                
        </div>
        
        <div class="PrintInfoCont">
            <p class="InfoPrint"> Ich biete außerdem alle Aufnahmen aus der Kategorie <strong><a href="#portfolio" style= "color: black; text-decoration:none;">"Travel & Landscape"</a></strong> zum Druck an.<br /><br /> <strong>Nicht das richtige dabei?!</strong> Dann schreibt mir gleich eine<strong> <a href="#contact" style= "color: black; text-decoration:none;">Mail</a>!</strong> <br />Ich verfüge über ein großes Portfolio an Landschaftsaufnahmen aus verschiedensten Ländern, mit genau den richtigen Motiven, um euere eignen vier Wände zu verschönern oder ein einzigartiges Geschenk für euere Lieben zu haben!<br /><br />
            Eine Übersicht über die Preise findet ihr in meiner <strong>Preisliste</strong>!
            </p>
        </div>
            
        
    </div>

</section>