<section id="theStory">
    
    <div class="TitleContainerAbout">
        
        <hr class="BarLeft">
        
        <h3>The Story</h3>
        
        <hr class="BarRight">
        
    </div>
    
    
    <p class="AboutThisSide"> <strong>Eine gutes Foto muss für mich persönlich immer drei grundlegende Kriterien erfüllen: Eine ansprechende Bildkomposition, das eingefangene Licht und der Moment, den dieses Bild wiederspiegelt.</strong><br /><br />Diese Kriterien geben anderen Betrachtern und mir die Möglichkeit sich mit dem Foto zu indetifizieren und verleihen ihm durch den festgehaltenen Moment eine Seele.<br /><br />Ein solches Bild bezeichne ich nicht als normales Foto sondern als Storyograph! </p>
    
    <div class="face-lock">
        <div class="face-img"></div>
    </div>
    
    <div class="TextLock">
        
        <p class="AboutMeLeft"> Mein Name ist Nils-Peter Töpfer, ich bin 29 Jahre alt und fotografiere schon seit meiner Kindheit.<br />Schon damals versuchte ich mit der Kamera meiner Mutter das Geschehen aus jeder möglichen Perspektive fest-
        zuhalten.<br />Diese Leidenschaft einen einzigartigen Moment im perfekten Licht einzufangen und damit Geschichten zu erzählen oder</p>
  
        <p class="AboutMeRight"> Erinnerungen auf verschiedenen Printmedien zu bannen, verfolge ich neben dem Studium. Dabei dokumentiere und fotografiere ich Hochzeiten, Portraits, Events und Landschaften, sowie Reisen in fremde Länder. <br />Ich bin stets auf der Suche nach neuen Herausforderungen und exklusiven Momenten!<br /><strong>Ich freue mich darauf eure Geschichte zu erzählen und festzuhalten!</strong></p>
        
    </div>

</section>